<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServiceWatcher.Properties.Settings>
            <setting name="Services" serializeAs="String">
                <value>test12312321321321;BARAAGNT;vspherewebclientsvc;sdafsdafadfsdafsdaff</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>300000</value>
            </setting>
        </ServiceWatcher.Properties.Settings>
    </userSettings>
</configuration>